@media(max-width: 1150px) {

    .pokemon-box {
        margin: 10px;
        width: 250px;
        height: 150px;
    }

    .pokemon-box-img {
        position: absolute;
        right: 16px;
        bottom: 16px;
        width: 80px;
    }

    .pokemonname {
        font-size: 30px;
    }

    .button {
        height: 50px;
        width: 70px;
    }

}


@media(max-width: 850px) {

    .pokemon-box {
        margin: 10px;
        width: 200px;
        height: 120px;
    }

    .pokemon-box-img {
        width: 60px;
    }

}


@media(max-width: 550px) {

    h3 {
        font-size: 16px;
        margin-top: 4px;
    }

    .pokemon-box {
        margin: 10px;
        width: 150px;
        height: 100px;
    }

    .pokemon-box-img {
        right: 8px;
        bottom: 8px;
        width: 50px;
    }

    .pokemonname {
        font-size: 24px;
    }

    .pokemon-card {
        width: 300px;
    }

    #pokedex {
        font-size: 36px;
    }


    .id {
        font-size: 16px;
    }

    .pokemon-img {
        margin-top: -130px;
        width: 180px;
    }
}


@media(max-width: 350px) {

    .pokemon-card {
        width: 250px;
    }

    .namenumber {
        width: 80%;
        padding-left: 10px;
    }

    .pokemon-stats-table td {
        width: 80px;
    }
}

@media(max-width: 300px) {
    .pokemon-box {
        margin: 5px;
        width: 100px;
        height: 60px;
    }

    .pokemon-box-img {
        right: 4px;
        bottom: 4px;
        width: 30px;
    }

    .pokemonname {
        font-size: 16px;
    }

    .pokemon-card {
        width: 200px;
    }

    .types {
        font-size: 14px;
        margin-left: 24px;
    }

    .pokemon-img {
        margin-top: -150px;
        width: 180px;
    }

    .pokemon-stats-table td {
        width: 100px;
    }
}